{% extends "base_master.html" %}
{% block title %}
    Department List
{% endblock title %}
{% block content %}
    <div class="container mt-3">
        <h1>Department Details</h1>
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-primary" 
        onclick="window.location = '{% url 'employee:create_department' %}'">Add Department</button>
        {% endif %}
        {% if department_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Department Location</th>
                    <th scope="col">
                    {% if user.is_authenticated %}
                        Actions
                    {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for department in department_list %}
                <tr>
                    <th scope="row">{{department.id}}</th>
                    <td>{{department.get_name_display}}</td>
                    <td>{{department.location}}</td>
                    <td>
                        {% if user.is_authenticated %}
                            <button type="button" class="btn btn-sm btn-primary"
                            onclick="window.location = '{% url 'employee:edit_department' department.id %}'">Edit</button>
                            <button type="button" class="btn btn-sm btn-danger"
                            onclick="window.location = '{% url 'employee:delete_department' department.id %}'">Delete</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            
        {% endif %}
    </div>
{% endblock content %}