{% extends "base_master.html" %}
{% block title %}
    Django Sample
{% endblock title %}
{% block content %}
    <div class="container mt-3">
        <h1>Django Samples</h1>
        {% if user.is_authenticated %}
            <h3 class="text-secondary">Welcome {{user.get_username}}</h3>
        {% else %}
            <h3 class="text-secondary">Welcome Guest</h3>
        {% endif %}
        <div class="list-group">
            <a href="{% url 'school:all' %}" class="list-group-item list-group-item-action" aria-current="true">
                Schools
            </a>
            <a href="{% url 'employee:all' %}" class="list-group-item list-group-item-action" aria-current="true">
                Employees
            </a>
        </div>
    </div>
{% endblock content %}