{% extends "base_master.html" %}
{% block title %}
    Schools
{% endblock title %}
{% block content %}
    <div class="container mt-3">
        <h1>Schools</h1>
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-primary" 
            onclick="window.location = '{% url 'school:school_create' %}'">Add School</button>
        {% endif %}
        <button type="button" class="btn btn-primary"
        onclick="window.location = '{% url 'school:student_list' %}'">View Students</button>
    </div>
    <div class="container">
        {% if school_list  %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name of the School</th>
                        <th scope="col">Location</th>
                        <th scope="col">
                        {% if user.is_authenticated %}
                            Actions
                        {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in school_list %}
                        <tr>
                            <th scope="row">{{school.id}}</th>
                            <td>{{school.name}}</td>
                            <td>{{school.city}}, {{school.country}}.</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" 
                                onclick="window.location = '{% url 'school:school_detail' school.id %}'">View</button>
                                {% if user.is_authenticated %}
                                    <button type="button" class="btn btn-warning btn-sm"
                                    onclick="window.location = '{% url 'school:school_update' school.id %}'">Update</button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                    onclick="window.location = '{% url 'school:school_delete' school.id %}'">Delete</button>
                                {% endif %}
                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
               There are no schools in the database.
            </div>
        {% endif %}
    </div>
{% endblock content %}