{% extends "base_master.html" %}
{% block title %}
    student form
{% endblock title %}
{% block content %}
    <div class="container mt-3">
        <h1>Student Form</h1>
        <form class="m-3" action="" method="post">
            {% csrf_token %}
            <table class="table">
                {{form.as_table}}
            </table>
            <input class="btn btn-primary" type="submit" value="Submit">
            <button class="btn btn-danger" type="submit" 
            onclick="window.location = '{% url 'school:student_list' %}';return false;">Cancel</button>
        </form>
    </div>
{% endblock content %}